{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- pendencias do font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css" integrity="sha512-sVSECYdnRMezwuq5uAjKQJEcu2wybeAPjU4VJQ9pCRcCY4pIpIw4YMHIOQ0CypfwHRvdSPbH++dA3O4Hihm/LQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css" integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
    
    <!-- fonts do google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!-- fonte robot slab -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="font">">

    <link rel="stylesheet" href="{% static 'catalogo\css\style.css'%}">

    <title>BIB-ON</title>
</head>
<body>
    <!-- INICIO - cabecalho -->
    <header class="main-header-container">
        <div class="main-header container">
            <h1>
                <a class="main-logo" href="/">
                    <i class="fas fa-book"></i>
                    <span class="main-logo-text">BIB-ON</span>
                    <span class="main-logo-text">Sua biblioteca online</span>
                </a>
            </h1>
        </div>
    </header>
    <!-- FIM - cabecalho -->
    
    <!-- INICIO - formulario de pesquisa -->
    <search class="search-container">
        <div class="container">
            <form action="#" method="POST" class="search-form">
                <input type="text" class="search-input" name="search">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </search>
    <!-- FIM - formulario de pesquisa -->

    <!-- INICIO main (Cards de livros) -->
    <main class="main-content-container">
        <div class="main-content main-content-list container">
        
            <!----------------------------------------------------------------------------------------------------------------->
            <!-- INICIO CARD -->
            <div class="book book-list-item">
                <div class="book-cover">
                    <img src="https://placehold.co/720x1280?text=capalivro\n1280x720" alt="capa do livro">
                </div>

                <div class="book-title-container">
                    <h2 class="book-title"> As brumas de avalon</h2>
                    <h3 class="book-copy"> Copias Disponiveis: 3</h3>
                </div>                

                <footer class="book-footer">
                    <a href="#" class="book-read-more button button-dark button-full-width">
                        <i class="fas fa-eye"></i>
                        <span>DETALHES</span>
                    </a>
                </footer>
            </div>
            <!-- FIM CARD -->
            <!----------------------------------------------------------------------------------------------------------------->
        
        
            <!----------------------------------------------------------------------------------------------------------------->
            <!-- INICIO CARD -->
            <div class="book book-list-item">
                <div class="book-cover">
                    <img src="https://placehold.co/720x1280?text=capalivro\n1280x720" alt="capa do livro">
                </div>

                <div class="book-title-container">
                    <h2 class="book-title"> As brumas de avalon</h2>
                    <h3 class="book-copy"> Copias Disponiveis: 3</h3>
                </div>                

                <footer class="book-footer">
                    <a href="#" class="book-read-more button button-dark button-full-width">
                        <i class="fas fa-eye"></i>
                        <span>DETALHES</span>
                    </a>
                </footer>
            </div>
            <!-- FIM CARD -->
            <!----------------------------------------------------------------------------------------------------------------->            
        
        
            <!----------------------------------------------------------------------------------------------------------------->
            <!-- INICIO CARD -->
            <div class="book book-list-item">
                <div class="book-cover">
                    <img src="https://placehold.co/720x1280?text=capalivro\n1280x720" alt="capa do livro">
                </div>

                <div class="book-title-container">
                    <h2 class="book-title"> As brumas de avalon</h2>
                    <h3 class="book-copy"> Copias Disponiveis: 3</h3>
                </div>                

                <footer class="book-footer">
                    <a href="#" class="book-read-more button button-dark button-full-width">
                        <i class="fas fa-eye"></i>
                        <span>DETALHES</span>
                    </a>
                </footer>
            </div>
            <!-- FIM CARD -->
            <!----------------------------------------------------------------------------------------------------------------->            

                    
            <!----------------------------------------------------------------------------------------------------------------->
            <!-- INICIO CARD -->
            <div class="book book-list-item">
                <div class="book-cover">
                    <img src="https://placehold.co/720x1280?text=capalivro\n1280x720" alt="capa do livro">
                </div>

                <div class="book-title-container">
                    <h2 class="book-title"> As brumas de avalon</h2>
                    <h3 class="book-copy"> Copias Disponiveis: 3</h3>
                </div>                

                <footer class="book-footer">
                    <a href="#" class="book-read-more button button-dark button-full-width">
                        <i class="fas fa-eye"></i>
                        <span>DETALHES</span>
                    </a>
                </footer>
            </div>
            <!-- FIM CARD -->
            <!----------------------------------------------------------------------------------------------------------------->
            <!----------------------------------------------------------------------------------------------------------------->
            <!-- INICIO CARD -->
            <div class="book book-list-item">
                <div class="book-cover">
                    <img src="https://placehold.co/720x1280?text=capalivro\n1280x720" alt="capa do livro">
                </div>

                <div class="book-title-container">
                    <h2 class="book-title"> As brumas de avalon</h2>
                    <h3 class="book-copy"> Copias Disponiveis: 3</h3>
                </div>                

                <footer class="book-footer">
                    <a href="#" class="book-read-more button button-dark button-full-width">
                        <i class="fas fa-eye"></i>
                        <span>DETALHES</span>
                    </a>
                </footer>
            </div>
            <!-- FIM CARD -->
            <!----------------------------------------------------------------------------------------------------------------->
        
        
            <!----------------------------------------------------------------------------------------------------------------->
            <!-- INICIO CARD -->
            <div class="book book-list-item">
                <div class="book-cover">
                    <img src="https://placehold.co/720x1280?text=capalivro\n1280x720" alt="capa do livro">
                </div>

                <div class="book-title-container">
                    <h2 class="book-title"> As brumas de avalon</h2>
                    <h3 class="book-copy"> Copias Disponiveis: 3</h3>
                </div>                

                <footer class="book-footer">
                    <a href="#" class="book-read-more button button-dark button-full-width">
                        <i class="fas fa-eye"></i>
                        <span>DETALHES</span>
                    </a>
                </footer>
            </div>
            <!-- FIM CARD -->
            <!----------------------------------------------------------------------------------------------------------------->            
        
        
            <!----------------------------------------------------------------------------------------------------------------->
            <!-- INICIO CARD -->
            <div class="book book-list-item">
                <div class="book-cover">
                    <img src="https://placehold.co/720x1280?text=capalivro\n1280x720" alt="capa do livro">
                </div>

                <div class="book-title-container">
                    <h2 class="book-title"> As brumas de avalon</h2>
                    <h3 class="book-copy"> Copias Disponiveis: 3</h3>
                </div>                

                <footer class="book-footer">
                    <a href="#" class="book-read-more button button-dark button-full-width">
                        <i class="fas fa-eye"></i>
                        <span>DETALHES</span>
                    </a>
                </footer>
            </div>
            <!-- FIM CARD -->
            <!----------------------------------------------------------------------------------------------------------------->            

                    
            <!----------------------------------------------------------------------------------------------------------------->
            <!-- INICIO CARD -->
            <div class="book book-list-item">
                <div class="book-cover">
                    <img src="https://placehold.co/720x1280?text=capalivro\n1280x720" alt="capa do livro">
                </div>

                <div class="book-title-container">
                    <h2 class="book-title"> As brumas de avalon</h2>
                    <h3 class="book-copy"> Copias Disponiveis: 3</h3>
                </div>                

                <footer class="book-footer">
                    <a href="#" class="book-read-more button button-dark button-full-width">
                        <i class="fas fa-eye"></i>
                        <span>DETALHES</span>
                    </a>
                </footer>
            </div>
            <!-- FIM CARD -->
            <!----------------------------------------------------------------------------------------------------------------->
        </div>
    </main>
    <!-- FIM main (Cards de livros) -->

    <!-- INICIO RODAPE -->
    <footer class="main-footer">        
        <h1>Todos os direitos reservados a BibOn</h1>
        <h1>Leia porque faz bem e é legal</h1>
    </footer>
    <!-- FIM DO RODAPE -->

</body>
</html>